# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.DS_Store
**/.classpath
**/.dockerignore
**/.git
**/.idea
**/.gitignore
**/.gitlab-ci.yml
**/.gitmodules
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/target/
/book/out

/.nginx
/.nginx-cache

/.envrc.*
/trivy
.claude

# symlinks
/load_dispenser/keystores
/load_dispenser/popp-token-Server-Sim-nist-komp61.p12
