# optionally source .envrc.local to allow developer-specific environment config
# .envrc.local is in .gitignore
source_env_if_exists ./.envrc.local

export MACOSX_DEPLOYMENT_TARGET=15.0
# -W*: libjade-sys, -g: enable debug symbols
export CFLAGS="${CFLAGS:+"$CFLAGS "}-Wno-error -Wno-error=unused-command-line-argument -g"

export IT_POPP_P12="$PWD/misc/popp-token-Server-Sim-nist-komp61.p12"
export IT_POPP_P12_ALIAS="alias"
export IT_POPP_P12_PASS="00"
