# optionally source .envrc.local to allow developer-specific environment config
# .envrc.local is in .gitignore
source_env_if_exists ./.envrc.local

export NGX_CONFIGURE_ARGS="${NGX_CONFIGURE_ARGS:+"$NGX_CONFIGURE_ARGS "}--with-debug --prefix=$PWD/prefix"
export MACOSX_DEPLOYMENT_TARGET=15.0
# -W*: libjade-sys, -g: enable debug symbols
export CFLAGS="${CFLAGS:+"$CFLAGS "}-Wno-error -Wno-error=unused-command-line-argument -g"
