# direnv scripts are always interpreted with bash regardless of user shell
# shellcheck shell=bash

dotenv build.env

# optionally source .envrc.local to allow developer-specific environment config
# .envrc.local is in .gitignore
source_env_if_exists ./.envrc.local

export PURL_POPP_P12="$PWD/misc/popp-token-Server-Sim-nist-komp61.p12"
export PURL_POPP_P12_ALIAS="alias"
export PURL_POPP_P12_PASS="00"
